<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
    </head>
    <body>
        <h2>login</h2>

        {% if error %}
            <p style="color:lightcoral;">{{error}}</p>
        {% endif %}

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.username.label_tag }}
            {{ form.username }}<br>
            {{ form.image }}<br><br>

            <button type="submit">login</button>
        </form>
        <style>

        </style>
    </body>
</html>